@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>New Category Entry</h1>
<br />
@using (Html.BeginForm("AddCategory", "CAtegory", FormMethod.Post))
{
    @Html.Label("CAtegory Name")
    @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />
    @Html.Label("Blog Description")
    @Html.TextAreaFor(x=>x.CategoryDescription,15,3,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryDescription)
    <br />
    <button class="btn btn-info">Data Save </button>
    <br />
}
